/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	& a {
		text-decoration: none;
		color: inherit;
	}
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* -- CSS Ajout Filtres -- */

.filter-group {
	text-align: center;
	margin-bottom: 20px;
}

.filter-button {
	font-family: 'Syne';
	font-weight: 700;
	background-color: transparent;
	border: 1px solid #1D6154;
	padding: 10px 20px;
	margin: 0 5px;
	cursor: pointer;
	border-radius: 30px;
	transition: background-color 0.3s, color 0.3s;
	
	&.active {
		background-color: #1D6154;
		color: white;
	}

	&:hover {
		background-color: #0E2F28;
		color: white;
	}
}

/* -- CSS Page de connection -- */
#login {
	width: 300px;
	margin: 100px auto;
	padding: 20px;
	border-radius: 10px;
}
#login h2 {
	text-align: center;
	margin-bottom: 20px;
}
#login form {
	display: flex;
	flex-direction: column;
}
#login label {
	margin: 10px 0 5px 0;
}
#login input {
	height: 40px;
	font-size: 1em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 15px;
	padding: 0 10px;
}

#login a {
	text-align: center;
	display: block;
	margin-top: 10px;
	color: #3D3D3D;
}

.Menu-actiive {
	font-weight: 700;
}

/* -- Page Connection -- */

#login-error {
	display: none;
	color: red;
	text-align: center;
	margin-bottom: 15px;
}

/* -- Edition Portfolio -- */

#portfolio-edit-group {
	display: flex;
	justify-content: center;
	gap: 20px;
}
.zdit-projects-wrapper {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.edit-projects-btn {
	background-color: transparent;
	border: none;
	font-weight: 400;
	font-size: 14px;
	cursor: pointer;
	margin-bottom: 1em;
	font-family: 'Work Sans';
	height: 30px;
}

/* -- Modal -- */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1000;
	justify-content: center;
	align-items: center;
	display: flex;
}

.modal-content {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	width: 630px;
	max-width: 90%;
	height: 680px;
	max-height: 80%;
	overflow-y: auto;
}

#modal-nav {
	margin-bottom: 20px;
}

#modal-close-btn {
	background-color: transparent;
	border: none;
	font-size: 24px;
	cursor: pointer;
	right: 10px;
	position: absolute;
}

#modal-undo-btn {
	background-color: transparent;
	border: none;
	font-size: 24px;
	cursor: pointer;
	left: 10px;
	position: absolute;
	display: none;
}

#modal-header h3 {
	padding-top: 30px;
	font-weight: 400;
	font-size: 26px;
	text-align: center;
}

#modal-header {
	margin-bottom: 10px;
	position: relative;
}

#modal-body {
	border: 2px solid red;
	height: 75%;
	width: 80%;
	margin: auto;
}

#modal-footer {
	margin-top: 20px;
	text-align: center;
	display: flex;
	justify-content: center;
	gap: 20px;
	flex-direction: column;
}

#modal-footer span {
	height: 1px;
	width: 80%;
	background-color: #E5E5E5;
	margin: auto;
}

#add-project-btn {
	background-color: #1D6154;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 30px;
	cursor: pointer;
	font-family: 'Syne';
	font-weight: 700;
	width: 50%;
	margin: auto;
}