/* -- Modal -- */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1000;
	justify-content: center;
	align-items: center;
    display: flex;
}

.modal-content {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	width: 630px;
	max-width: 90%;
	height: 680px;
	max-height: 80%;
	overflow-y: auto;
}

#modal-nav {
	margin-bottom: 20px;
}

#modal-close-btn {
	background-color: transparent;
	border: none;
	font-size: 24px;
	cursor: pointer;
	right: 10px;
	position: absolute;
}

#modal-undo-btn {
	background-color: transparent;
	border: none;
	font-size: 24px;
	cursor: pointer;
	left: 10px;
	position: absolute;
	display: none;
}

#modal-header h3 {
	padding-top: 30px;
	font-weight: 400;
	font-size: 26px;
	text-align: center;
}

#modal-header {
	margin-bottom: 10px;
	position: relative;
}

#modal-body {
	height: 75%;
	width: 80%;
	margin: 50px auto auto;
}

#modal-footer {
	margin-top: 20px;
	text-align: center;
	display: flex;
	justify-content: center;
	gap: 20px;
	flex-direction: column;
}

#modal-footer span {
	height: 1px;
	width: 80%;
	background-color: #E5E5E5;
	margin: auto;
}

#modal-ViewFormBtn {
	background-color: #1D6154;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 30px;
	cursor: pointer;
	font-family: 'Syne';
	font-weight: 700;
	width: 50%;
	margin: auto;
}

.modal-gallery {
	width: 90%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
	gap: 10px;
	margin: auto;
}

.modal-card {
	width: 75px;
	height: 100px;
	position: relative;
}

.modal-card img {
	width: 100%;
	display: block;
}

.delete-project-btn {
	position: absolute;
	top: 5px;
	right: 5px;
	background: black;
	border: none;
	cursor: pointer;
	padding: 4px;
}

.delete-project-btn img {
	height: 100%;
}

.modal-form {
	display: none;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


/* --- Gallery --- */
.modal-gallery-item {
	width: 100%;
	height: 100%;
	position: relative;
	max-width: 75px;
	max-height: 120px;

	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.modal-delete-btn {
	position: absolute;
	top: 2px;
	right: 2px;
	height: 17px;
	width: 17px;
	background-color: black;
	border: none;
	padding: 2px;
	cursor: pointer;

	& img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

/* --- Formulaire d'ajout de photo --- */

.modal-form form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: space-between;
}

.form-group {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;

	& input, select {
		height: 50px ;
		border: none;
		box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
		background-color: white;
		font-size: 14px;

		&:focus {
			outline: none;
		}
	}
}

.image-upload {
	width: 100%;
	background-color: #E8F1F6;
	padding: 10px;
	max-height: 200px;

	& label {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
		cursor: pointer;

		& span {
			padding: 8px 16px;
			border-radius: 16px;
			background-color: #CBD6DC;
			color: #306685;
		}

		& p {
			font-size: 10px;
		}
	}
}

#image-preview {
	width: auto;
	height: 100%;
	object-fit: contain;
}

.modal-separator {
	height: 1px;
	width: 80%;
	background-color: #E5E5E5;
	margin: auto;
}


.modal-form-btn-submit {
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 30px;
	cursor: not-allowed;
	font-family: 'Syne';
	font-weight: 700;
	width: 50%;
	margin: auto;
	background-color: #A7A7A7;

}

.modal-form-btn-submit.active {
   background-color: #1D6154;
   cursor: pointer;
}